<div class="container medium">
    <div class = "heroBanner">
        <h2>“Una <mark>descripción breve</mark> de lo que se trata este genial <mark>podcast</mark>”</h2>
    </div>
    <div class="innerContainer">
        <div class="column center badge">
            <p>por</p>
            <h3>Fernando Gonzalez</h3>
            <div>
                <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" alt="">
            </div>
        </div>         
    </div>
</div>
